@page
@model dotNetZadanie3.Pages.SavedInSessionModel
@{
    ViewData["Title"] = "Data in session";
}
<p>Dane w zapisane w sesji</p>
@if (Model.cache != null)
{
    <ul>
        @foreach(string[] data in Model.cache){
                <p>@data[0] @data[1], @data[2]. @data[3] </p>
            }
    </ul>
    //<p>@Html.DisplayNameFor(model => Model.Year.Name): @Model.Year.Name </p>
    //<p>@Model.Year.Name, @Model.Year.Year - @ViewData["Result"] </p>

}