@page
@model dotNetZadanie3.Pages.SavedInSessionModel
@{
    ViewData["Title"] = "Data in session";
}
<p>Dane w zapisane w sesji</p>
@if (Model.Year != null)
{
    //<p>@Html.DisplayNameFor(model => Model.Year.Name): @Model.Year.Name </p>
    <p>@Model.Year.Name, @Model.Year.Year - @ViewData["Result"] </p>

}